models
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
.spyproject
.idea
app/plugins/ui/sceneManagerUi/UIFiles/startConda.bat
app/plugins/ui/sceneManagerUi/UIFiles/coreResource.py
app/plugins/ui/sceneManagerUi/UIFiles/startConda.bat
app/plugins/ui/sceneManagerUi/UIFiles/startConda.bat
/app/core/model/test.scene
/app/plugins/ui/sceneManagerUi/UIFiles/startCondaLaptop.bat
/test.scn
/data/
RAW_0.tif
app/RAW_1.tif
sceneTest.scn
sceneTest
sceneTest
sceneTest
sceneTest
app/RAW_2.tif
raw_1.scn
/.spyproject/workspace.ini
/app/plugins/ui/image/editor/roiDrawer/
.spyproject/workspace.ini
.spyproject/workspace.ini
.spyproject/workspace.ini
app/plugins/ui/contrastAdjustment_0.tif
app/plugins/ui/contrastAdjustment_1.tif
app/plugins/ui/contrastAdjustment_10.tif
app/contrastAdjustment_1.tif
app/plugins/ui/contrastAdjustment_2.tif
app/plugins/ui/contrastAdjustment_3.tif
app/plugins/ui/contrastAdjustment_4.tif
app/RAW_3.tif
app/plugins/ui/contrastAdjustment_5.tif
app/plugins/ui/contrastAdjustment_6.tif
app/plugins/ui/contrastAdjustment_7.tif
app/plugins/ui/contrastAdjustment_9.tif
app/plugins/ui/contrastAdjustment_8.tif
app/plugins/utils/segmentation_0.tif
app/plugins/utils/segmentation_1.tif
app/plugins/utils/segmentation_2.tif
app/plugins/utils/segmentation_3.tif
app/plugins/utils/segmentation_5.tif
app/plugins/utils/segmentation_4.tif
app/plugins/utils/segmentation_6.tif
app/segmentation_contrast.tif
app/plugins/utils/segmentation_contrast.tif
*.log
*.ini
app/plugins/ui/image/segmentation/segmentationConnector.py
app/plugins/ui/image/segmentation/segmentationConnector.py
app/plugins/ui/image/segmentation/segmentationConnector.py